:root {
  --primary-color: #1ebfc1;
  --line-clamp: 1;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "poppins", sans-serif;
  font-size: 1.6rem;
}

/* =====================common=============== */

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  width: 1170px;
  max-width: calc(100vw - 46px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #2f3a3b;
}

.btn {
  --height-text-center: 68px;
  display: inline-block;
  min-width: 186px;
  height: var(--height-text-center);
  padding: 0 8px;
  color: #fff;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: var(--height-text-center);
  border-radius: 14px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =====================header================== */

.header {
  padding-top: 44px;
  background-color: #fff;
  position: sticky;
  top: -44px;
  z-index: 1;
}

.header .nav-bar {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.header .nav-bar .nav {
  margin-left: auto;
  display: flex;
}

.header .nav li {
  margin-left: 9px;
}

.header .nav li a {
  display: inline-block;
  padding: 8px 15px;
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
}

.header .nav .active,
.header .nav li a:hover {
  text-shadow: 1px 0 0 currentColor;
}

.header .nav-bar .cta {
  margin-left: 156px;
}

.header .cta .signin {
  padding: 8px 24px;
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header .cta .signup {
  display: inline-block;
  color: var(--primary-color);
  height: 48px;
  min-width: 108px;
  padding: 0 12px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 48px;
  border-radius: 6px;
  border: 1px solid currentColor;
}

.header .cta .signup:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* =========================hero=========================== */

.hero {
  padding: 42px 0 79px;
  background-color: #fff;
}

.hero .body-hero {
  display: flex;
  align-items: center;
}

.hero .body-hero .block-left {
  width: 39%;
  margin-right: 71px;
}

.hero .block-left .after {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}

.hero .block-left .title {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 116%;
}

.hero .block-left .desc {
  width: 75%;
  margin: 46px 0 52px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 177%;
}

.hero .cta {
  display: flex;
  align-items: center;
}

.hero .block-left .play {
  border: none;
  cursor: pointer;
  background-color: #fff;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero .body-hero .block-right {
  position: relative;
  width: 55%;
}

.hero .block-right .image {
  display: block;
  margin-left: auto;
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero .block-right .item {
  position: absolute;
}

.hero .block-right .item.item-1 {
  display: flex;
  width: 157px;
  align-items: center;
  padding: 17px 25px;
  left: 25px;
  bottom: 407px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.item1__book {
  position: relative;
  margin-right: 16px;
}

.book__book-icon {
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 8px;
  z-index: 1;
}

.block-right .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.block-right .item-2 {
  width: 124px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 16px 25px 23px;
  bottom: 46px;
  left: 0;
}

.item-2 .desc {
  text-align: center;
  display: block;
}

.item-2 .schedule {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 12px;
}

.item2 img {
  display: block;
}

.schedule .final {
  margin-top: 4px;
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
  margin-left: auto;
  margin-right: auto;
}

.block-right .item-3 {
  padding: 17px 35px;
  width: 207px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  bottom: 41px;
  right: 45px;
}

.item-3 .student {
  margin-top: 8px;
  margin-left: 7px;
  display: flex;
}

.item-3 .student .avatar {
  width: 33px;
  height: 33px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-left: -7px;
}

.item-3 .student .avatar:nth-child(2) {
  background-color: #ffc147;
}
.item-3 .student .avatar:nth-child(3) {
  background-color: #ff947a;
}
.item-3 .student .avatar:nth-child(4) {
  background-color: #bf83ff;
}

.item-3 .student .quantity {
  display: block;
  color: #fff;
  text-align: center;
  line-height: 33px;
  font-size: 1rem;
  font-weight: 500;
}

/* ========================features====================== */

.feature {
  padding: 60px 0;
}

.feature-top {
  padding-top: 70px;
  width: 1024px;
}

.feature-top__header {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

.feature-top__title {
  width: 56%;
  margin: 18px 0;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 133.333%;
}

.feature-top__desc {
  width: 58%;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}

.feature-content {
  padding: 80px 0 65px;
  display: flex;
}

.feature-content__item {
  width: 19%;
  margin-right: 200px;
}

.feature-content__sub-title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.feature-content__desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 168.75%;
}

/* ================COURSES========================= */

.course {
  margin-top: 10px;
  padding: 70px 0 194px;
}

.course-top__header {
  width: 56%;
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

.course-top__title {
  margin: 18px 0;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
}

.course-top__desc {
  width: 44%;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 177.778%;
}

.course-top__more {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
}

.course-body {
  margin-top: 79px;
  display: flex;
  gap: 47px;
}

.course-body__item {
  position: relative;
  border-radius: 8px;
}

.course-body__thump {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 60%;
}

.course-body__info {
  position: absolute;
  top: 322px;
  left: 17px;
  z-index: 1;
  width: 325px;
  padding: 18px 25px 29px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-body__sub-title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.course-body__fee-price {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}

.course-body__price {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.course-body__desc {
  margin: 6px 0 18px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}

.learn-class {
  display: flex;
  align-items: center;
}

.lear-class__elip {
  display: inline-block;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background-color: var(--primary-color);
}

.learn-class__desc {
  margin: 0 10px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}
